<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="oauth.twitter.ConsumerKey" value="HRx5H3J6TlwXMTlPkr1lng" />
    <add key="oauth.twitter.ConsumerSecret" value="0BZxmYf7ssA1rpRjmQ4ylIGVS7wpFYndAtl0jyFdM" />
    <add key="oauth.twitter.RedirectUrl" value="http://localhost:3000/" />
    <add key="oauth.twitter.CallbackUrl" value="http://localhost:3000/auth/twitter" />
    <add key="oauth.facebook.AppId" value="452904068084628" />
    <add key="oauth.facebook.AppSecret" value="d19abbd7e66275522fce9cb40b4314e7" />
    <add key="oauth.facebook.Permissions" value="publish_stream,status_update" />
    <add key="oauth.facebook.RedirectUrl" value="http://localhost:3000/" />
    <add key="oauth.facebook.CallbackUrl" value="http://localhost:3000/auth/facebook" />
    <add key="ResetAllOnStartUp" value="True" />
  </appSettings>
  <system.web>
    <compilation targetFramework="4.0" />
    <httpHandlers>
      <!-- IIS6 + Mono -->
      <add path="*" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <!-- IIS7 -->
      <add path="*" name="ServiceStack.Factory" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true" />
    </handlers>
  </system.webServer>
</configuration>